<form ng-submit="saveEdits(item, 'submit')">
    <div class="modal-header">
        <h2 class="modal-title">Einkaufslisten Posten editieren</h2>
    </div>
    <div class="modal-body">
        <label>Anzahl</label>
        <input class="form-control" type="number" ng-model="item.number" min="1" max="99"/>
        <label>Bezeichnung</label>
        <input ng-trim="false" class="form-control" ng-model="item.article.name">
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-click="ok()">OK</button>
        <button class="btn btn-default" ng-click="cancel()">Abbrechen</button>
    </div>
</form>