.content{
    padding-top: 75px;
}

.navbar-btn{
    margin-left: 20px; !important
}

.centered {
    display: table;
    margin: 0 auto;
}

.centered-text{
    text-align: center;
}

#main{
    text-align : left;
}

.invisible-button{
    background:transparent;
    border:none;
}

#filters li{
    display:inline;
}

.done {
    text-decoration: line-through;
}